<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestDbService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65133/TestDbService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestDbService"
                contract="TestDbServiceReference.ITestDbService" name="BasicHttpBinding_ITestDbService" />
        </client>
    </system.serviceModel>
</configuration>